@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "LayoutAdm";
}
@model immid.Models.NewsModel
<div class="grafContainer">
	<form asp-action="News" asp-controller="Admin" asp-anti-forgery="true" class="addNews">
		<fieldset class="title">
			<legend>Заголовок</legend>
			<input asp-for="Title" class="inputTitle" name="title" type="text">
		</fieldset>
		<fieldset class="title">
			<legend>Описание новости</legend>
			<input asp-for="Desc" class="inputTitle" name="desc" type="text">
		</fieldset>
		<fieldset class="title" id="addNews">
			<legend>Текст новости</legend>
			<input asp-for="Text" class="inputNews" name="text" type="text">
		</fieldset>
		<fieldset class="title">
			<input type=submit>
		</fieldset>
	</form>
	<form class="settingNews">
		<fieldset class="settingField">
			<div class="settingBlock">
				<label class="labelSetting">I agree to the terms
					<input type="checkbox" />
					<span></span>
				</label>
			</div>	
			<div class="settingBlock">
				<label class="labelSetting">I agree to the terms
					<input type="checkbox" />
					<span></span>
				</label>
			</div>
			<div class="settingBlock">
				<label>Изображение записи</label>
				<input type="file">
			</div>
		</fieldset>				
	</form>
</div>