header{
	position: fixed;
	top: 0px;
	background: #E8E8E8;
	height: 70px;	
	width: 100%;
	box-shadow: 0 10px 28px rgba(0,0,0,0.25);
	z-index: 100;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75px;	
	background: #E8E8E8;
}
a{
	text-decoration: none;
	cursor: pointer;
}
input{
	font-weight: 400px;
}
label input[type=checkbox] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opactiy: 0;
  width:0; 
  height:0;
}
/* custom checkbox */
label span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  transition: .3s background-color; /* slight transition */
}
/* the check icon */
label span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* check icon */
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label input:checked ~ span {
  background-color: #2eaadc;
}
label input:checked ~ span:after {
  display:block;
}
.inputTitle{
	width: 92%;
	padding: 10px;
	margin: 10px;
	border: 2px solid #eee;
	border-radius: 10px;
}
.navbar{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.navbar-header {
	width: 240px;	
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-brand{
	height: 25px;
}
.navbar-search {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.navbar-search a{
	height: 25px;
	margin: 0 0 0 10px;
}
.navbar-end{
	flex-grow: 0.2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-search{	
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
}
.app-search input{
	width: 100%;
	padding: 25px 40px 25px 20px;
	color: #67757c;
}
.srh-btn{
	position: absolute;
	top: 25px;
	width: 15px;
	height: 15px;
	right: 20px;
}
.navbar-user{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-user p{
	margin: 15px;
}

.navigation {
	position: fixed;
	top: 70px;
	display: flex;
	height: 100%;
	width: 18%;
	background: #262121;
	position:sticky;
}
.navigation .items{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.item a{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.item a:link{
	color:#F74E02;
}
.item a:hover{
	color: #FF7127;
}
.item a img{
	margin: 10px;
}
.navigation .items .item {
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
	margin: 70px 0 0 0;
	height: 1600px;
}

.grafContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
}



.addNews {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.title {
	width: 100%;
	border: 0px;
	margin: 10px 0 0 0;
}

.settingNews {
	position: fixed;
	top: 70px;
	left: 80%;
	width: 20%;
	height: 30%;
	border: 1px #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.inputNews {
	width: 92%;
	height: 96%;
	padding: 10px;
	margin: 10px;
	border: 2px solid #eee;
	border-radius: 10px;
}

#addNews {
	height: 100%;
}

.labelSetting {
	position: relative; /* to contain absolute elements */
    padding-left:30px; /* free space for custom checkbox */
    cursor: pointer;
}
.labelSetting:hover span{
	background-color: #ccc;
}


.settingField {
	width: 90%;
	height: 100%;
	border-radius: 10px;
}

.settingBlock {
	margin: 10px 0;
}
