header{
	position: relative;
	background: #E8E8E8;
	height: 70px;	
	box-shadow: 0 10px 28px rgba(0,0,0,0.25);
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75px;	
	background: #E8E8E8;
}
a{
	text-decoration: none;
	cursor: pointer;
}
input{
	font-weight: 400px;
}
.navbar{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
.navbar-header {
	width: 240px;	
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-brand{
	height: 25px;
}
.navbar-search {
	flex-grow: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.navbar-search a{
	height: 25px;
	margin: 0 0 0 10px;
}
.navbar-end{
	flex-grow: 0.2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app-search{	
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
}
.app-search input{
	width: 100%;
	padding: 25px 40px 25px 20px;
	color: #67757c;
}
.srh-btn{
	position: absolute;
	top: 25px;
	width: 15px;
	height: 15px;
	right: 20px;
}
.navbar-user{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-user p{
	margin: 15px;
}

.navigation {
	display: flex;
	height: 250px;
	width: 225px;
	background: #262121;
	position:sticky;
}
.navigation .items{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.item a{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.item a:link{
	color:#F74E02;
}
.item a:hover{
	color: #FF7127;
}
.item a img{
	margin: 10px;
}
.navigation .items .item {
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
}
