<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Документ без названия</title>
<link rel="stylesheet" type="text/css" href="~/css/styleAdm.css"/>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="navbar-header">
				<a class="navbar-brand">
					<img src="wwwroot/image/Group 1569.png">			
				</a>
			</div>	
			<div class="navbar-search">
				<a><img src="wwwroot/image/icons8-search-30.png"></a>
				<form class="app-search">
					<input type="text" placeholder="Search">
					<a class="srh-btn"><img src="wwwroot/image/icons8-close-24.png"></a>
				</form>
			</div>
			<div class="navbar-end">
				<a class="navbar-user">
					<img src="">
					<p>User</p>
				</a>
			</div>
		</nav>
	</header>
	<div class="main">
		<nav class="navigation">
			<div class="items">
				<div class="item">
					<a href="#">
						<img src="">
						<p>Home</p>
					</a>
				</div>
				<div class="item">
					<a href="News">
						<img src="">
						<p>Добавить новость</p>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="">
						<p>Home</p>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="">
						<p>Home</p>
					</a>
				</div>
			</div>
		</nav>	
		@RenderBody()
	</div>
	<footer>
		<p>lf</p>
	</footer>
</body>
</html>
