@{
    ViewData["Title"] = "Home Page";
}
<div id="demo" class="row w-100 carousel slide w-100" data-ride="carousel">
    <ul class="circle-icon carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row  row-setting w-100">
                <div class="col-sm-12 col-md-6 boot-test">
                    <div class="first-col">
                        <p class="header-text">Проект N42</p>
                        <div class="header-subtext">
                            <p>Самый ожидаемый designton осени.</p>
                        </div>
                        <button class="btn-set pr-3">Подробнее</button>
                        <div class="social-icon text-center">
                            <i class="social-icon-hover fa fa-vk "></i>
                            <i class="social-icon-hover fa fa-facebook pt-2 pb-2"></i>
                            <i class="social-icon-hover fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 boot-test">
                    <div class="second-col">
                        <img class="woman" src="~/image/Девушка 1.png">
                        <img src="~/image/Vector 16.png" class="header-image-triangle">
                        <img src="~/image/Ellipse 63.png" class="header-image-ellipse">
                        <img src="~/image/Rectangle 598.png" class="header-image-rectangle">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row row-setting w-100">
                <div class="col-sm-12 col-md-6 boot-test">
                    <div class="first-col">
                        <p class="header-text">Проект N42</p>
                        <div class="header-subtext">
                            <p>Самый ожидаемый designton осени.</p>
                        </div>
                        <button class="btn-set pr-3">Подробнее</button>
                        <div class="social-icon text-center">
                            <i class="social-icon-hover fa fa-vk "></i>
                            <i class="social-icon-hover fa fa-facebook pt-2 pb-2"></i>
                            <i class="social-icon-hover fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 boot-test">
                    <div class="second-col">
                        <img class="woman" src="~/image/Девушка 1.png">
                        <img src="~/image/Vector 16.png" class="header-image-triangle">
                        <img src="~/image/Ellipse 63.png" class="header-image-ellipse">
                        <img src="~/image/Rectangle 598.png" class="header-image-rectangle">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row row-setting w-100">
                <div class="col-sm-12 col-md-6 boot-test">
                    <div class="first-col">
                        <p class="header-text">Проект N42</p>
                        <div class="header-subtext">
                            <p>Самый ожидаемый designton осени.</p>
                        </div>
                        <button class="btn-set pr-3">Подробнее</button>
                        <div class="social-icon text-center">
                            <i class="social-icon-hover fa fa-vk "></i>
                            <i class="social-icon-hover fa fa-facebook pt-2 pb-2"></i>
                            <i class="social-icon-hover fa fa-instagram"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 boot-test">
                    <img class="woman" src="~/image/Девушка 1.png">
                    <img src="~/image/Vector 16.png" class="header-image-triangle">
                    <img src="~/image/Ellipse 63.png" class="header-image-ellipse">
                    <img src="~/image/Rectangle 598.png" class="header-image-rectangle">
                </div>
            </div>
        </div>
    </div>
    <hr class="line">
    <div id="demo-1" class="row w-100 carousel slide w-100" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row carousel-second-row">
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="first-col-down">
                                <p class="text-strategy">
                                    <b>Стратегическая цель</b> — модернизация образовательного процесса и научно- образовательного потенциала ИММиД с целью формирования в Республике Крым единой системы непрерывного образования, интегрированной в общероссийское
                                    научно-образовательное пространство и способной решать практические задачи инновационного развития региона.
                                </p>
                                <div class="pag-block">
                                    <div class="carousel-control-prev" href="#demo-1" data-slide="prev"><img src="~/image/Polygon 18.png"></div>
                                    <div class="pag-text-set">
                                        <p class="pag-text">1/4</p>
                                    </div>
                                    <div><img src="~/image/Polygon 17.png" class="carousel-control-next" href="#demo-1" data-slide="next"></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="second-col-down">

                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Образование</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Наука</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>

                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1567.svg">
                                        <p class="title-strategy">Инновации</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1568.svg">
                                        <p class="title-strategy">Власть</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row carousel-second-row">
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="first-col-down">
                                <p class="text-strategy">
                                    <b>Стратегическая цель</b> — модернизация образовательного процесса и научно- образовательного потенциала ИММиД с целью формирования в Республике Крым единой системы непрерывного образования, интегрированной в общероссийское
                                    научно-образовательное пространство и способной решать практические задачи инновационного развития региона.
                                </p>
                                <div class="pag-block">
                                    <div class="carousel-control-prev" href="#demo-1" data-slide="prev"><img src="~/image/Polygon 18.png"></div>
                                    <div class="pag-text-set">
                                        <p class="pag-text">2/4</p>
                                    </div>
                                    <div><img src="~/image/Polygon 17.png" class="carousel-control-next" href="#demo-1" data-slide="next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="second-col-down">
                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Образование</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Наука</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1567.svg">
                                        <p class="title-strategy">Инновации</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1568.svg">
                                        <p class="title-strategy">Власть</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row carousel-second-row">
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="first-col-down">
                                <p class="text-strategy">
                                    <b>Стратегическая цель</b> — модернизация образовательного процесса и научно- образовательного потенциала ИММиД с целью формирования в Республике Крым единой системы непрерывного образования, интегрированной в общероссийское
                                    научно-образовательное пространство и способной решать практические задачи инновационного развития региона.
                                </p>
                                <div class="pag-block">
                                    <div class="carousel-control-prev" href="#demo-1" data-slide="prev"><img src="~/image/Polygon 18.png"></div>
                                    <div class="pag-text-set">
                                        <p class="pag-text">3/4</p>
                                    </div>
                                    <div><img src="~/image/Polygon 17.png" class="carousel-control-next" href="#demo-1" data-slide="next"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 boot-test">
                            <div class="second-col-down">
                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Образование</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1566.svg">
                                        <p class="title-strategy">Наука</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1567.svg">
                                        <p class="title-strategy">Инновации</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                    <div class="info-block">
                                        <img class="img-str" src="~/image/Экспорт изображений/Group 1568.svg">
                                        <p class="title-strategy">Власть</p>
                                        <p class="sub-strategy">Учебные программы разработаны в рамках</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    

